.newsletter-section{

padding:60px 8%;

background:#faf8f4;

}



.newsletter-container{


display:flex;


align-items:center;


justify-content:space-between;


gap:50px;


}





.newsletter-content{


text-align:center;


flex:1;


}



.mail-icon{


width:55px;

height:55px;

border-radius:50%;


border:1px solid #c9a15b;


display:flex;

align-items:center;

justify-content:center;


margin:auto;


font-size:22px;


}




.newsletter-content h2{


font-family:serif;


font-size:24px;


margin:18px 0 10px;


}




.newsletter-content p{


font-size:13px;


color:#777;


line-height:1.6;


}




.subscribe-box{


display:flex;


justify-content:center;


margin-top:25px;


}




.subscribe-box input{


width:220px;


padding:12px;


border:1px solid #ddd;


outline:none;


}



.subscribe-box button{


background:#111;


color:white;


border:none;


padding:0 20px;


font-size:12px;


}





.newsletter-images{


display:flex;


gap:15px;


flex:1;


}



.newsletter-images img{


width:150px;


height:150px;


object-fit:cover;


border-radius:10px;


}