.footer{


background:#0b0b0b;


color:white;


padding:60px 8% 20px;


}




.footer-container{


display:grid;


grid-template-columns:2fr 1fr 1fr 1fr;


gap:40px;


}




.footer-brand h2{


font-family:serif;


font-size:32px;


letter-spacing:3px;


color:#d8b06a;


}




.footer-brand p{


margin-top:15px;


color:#aaa;


font-size:14px;


line-height:1.6;


}





.footer-links{


display:flex;


flex-direction:column;


gap:12px;


}





.footer-links h3{


font-size:14px;


letter-spacing:1px;


margin-bottom:10px;


color:#d8b06a;


}




.footer-links a{


font-size:13px;


color:#ccc;


text-decoration:none;


cursor:pointer;


}




.footer-links a:hover{


color:white;


}





.socials{


display:flex;


flex-direction:column;


gap:12px;


color:#ccc;


font-size:13px;


}





.footer-bottom{


border-top:1px solid rgba(255,255,255,0.15);


margin-top:40px;


padding-top:20px;


text-align:center;


color:#888;


font-size:12px;


}