.arrival-section{

padding:50px 8%;

background:#faf8f4;

}



.arrival-content{


background:#0c0c0c;


border-radius:12px;


padding:35px 45px;


display:flex;


justify-content:space-between;


align-items:center;


color:white;


}





.arrival-text span{


font-size:12px;


letter-spacing:2px;


color:#caa45d;


}




.arrival-text h2{


font-family:serif;


font-size:32px;


line-height:1.3;


margin:15px 0;


}




.arrival-text button{


background:#e7bd78;


border:none;


padding:12px 25px;


border-radius:5px;


cursor:pointer;


font-size:12px;


}




.occasion-container{


display:flex;


gap:40px;


}




.occasion-item{


text-align:center;


min-width:90px;


}




.occasion-icon{


font-size:32px;


margin-bottom:10px;


}




.occasion-item h3{


font-size:14px;


font-weight:500;


}




.occasion-item p{


font-size:13px;


color:#c8c8c8;


margin-top:5px;


}